body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

button {
    background-color: #769656;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 30px;
    font-weight: 700;
    cursor: pointer;
}

#chessboardContainer {
    display: flex;
    flex-direction: row;
}

#chessboard {
    display: grid;
    grid-template-columns: repeat(8, 50px);
    grid-template-rows: repeat(8, 50px);
    border: 5px solid black;
}

.square, 
.chess-piece {
    width: 50px;
    height: 50px;
}

.chess-piece.turn-side:hover {
    cursor: pointer;
}

.black {
    background-color: #769656;
}

.white {
    background-color: #eeeed2;
}

.available {
    background-color: #494949;
}

#chessboard-details {
    padding: 1rem;
    margin-top: 1rem;
    background-color: #f9f9f9;
    border-radius: 0.5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-family: sans-serif;
}

.details-block {
    margin-bottom: 1rem;
}

#turn-indicator span {
    font-weight: bold;
    color: #333;
}

#move-list {
    list-style: none;
    padding-left: 0;
    max-height: 150px;
    overflow-y: auto;
    font-size: 0.9rem;
    color: #444;
}

.captured-row {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    margin-top: 0.3rem;
}

.captured-row img {
    width: 24px;
    height: 24px;
}

.main-container {
    text-align: center;
    display: flex;
    flex-direction: column;
}

#gameModeSelection {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
